body {
    padding-top: 10px;
    font-size: 16px;
    background-color: #F5F5DC;
    margin: 0;
}

.navbar {
    background-color: #b71c1c;
    
}
.navbar-brand {
    color: #ecf0f1; 
}
.navbar .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}




a {
    color: #ecf0f1;
}

.margin-bottom-sm {
    margin-bottom: 10px;
}